.main-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(6vh + 2vw);
}

.main-header h1 {
  border-bottom: solid 0.5px grey;
  width: 70%;
}

@media screen and (max-width: 992px) {
  .main-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(6vh + 2vw);
  }

  .main-header h1 {
    border-bottom: solid 0.5px grey;
    width: 100%;
  }
}
